

<h2>Name</h2>
<p>
  <%= singer.name %>
</p>

<h2>Songs</h2>
<ul>
  <% songs.each do |song| %>
    <div class="song">
      <li>
        <%= song.title %>
      </li>
    </div>
  <% end %>
</ul>

<form action="/songs/new" method="get">
    <input type="hidden" name="singer_id" value=<%= singer.id %> />
    <button>Add Song</button>
</form>
