<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <h1>Database</h1>
    <%= link_to 'Books', routes.books_path %> |
    <%= link_to 'Movies', routes.movies_path %>
    <%= yield %>
  </body>
</html>
