<h2>Add song</h2>

<% unless params.valid? %>
  <div class="errors">
    <h3>There was a problem with your submission</h3>
    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=
  form_for :song, routes.songs_path, values:{song:{singer_id:params[:singer_id]}} do

    div class: 'input' do
      label      :singer_id
      text_field :singer_id
    end

    div class: 'input' do
      label      :title
      text_field :title
    end

    div class: 'controls' do
      submit 'Add song'
    end
  end
%>
